.section {
	border-style: inset;
	border-color: darkgray;
	border-width: 5px;
}

button {
	background-size: 100% 100%;
	border-style: outset;
	border-color: darkgray;
	border-width: 5px;
	min-height: 0px;
	min-width: 0px;
}

button:active {
	border-style: inset;
}

button.smile {
	background-image: url("/com/example/DesktopGames/Minesweeper/images/smile.png");
	min-height: 30px;
	min-width: 30px;
}

button.flagged {
	background-image: url("/com/example/DesktopGames/Minesweeper/images/flag.png");
}

label.display {
	color: red;
	background-color: black;
}
