button {
	outline-style: inset;
	outline-color: darkgray;
	outline-width: 5px;
}

button.smile {
	background-image: url("/com/example/DesktopGames/Minesweeper/images/smile.png");
	background-size: contain;
}
